<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="Project" content="Final Project Application">
  <meta name="AroundTheWorld">

  <title>Around The World</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <link rel="stylesheet" href="/static/styles.css">


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Around The World</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="text-center">Pick a place you like on the map below</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="mapid"></div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <h2 class="text-center">The following places have climate closest to the one you picked!</h2>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <div id="mapid2"></div>
      </div>
    </div>
  </div>


  <script src="/static/scripts.js"></script>
</body>

</html>